/** Header **/
#header {
    -fx-background-color: #1F262D;
}

/** Sidebar **/
#sidebar {
    -fx-background-color: #2E363F;
}

/** Inner Content **/

/* Brand name */
#brandNameContainer {
    -fx-background-color: #1F262D;
}

#brandNameText {
    -fx-fill: white;
    -fx-font-size: 40px;
    -fx-font-family: "Maison Mono";
}

/* Navigation Sidebar **/
#sidebar {
    -fx-background-color: #2E363F;
}

#sidebar > .x {
}

/* Action Bar */

#actionBar {
    -fx-background-color: #1F262D;
    -fx-border-color: red red red #2e363f;
    -fx-border-width: 0 0 0 1;
    -fx-border-style: solid;
}

#actionBar > .action {
    -fx-border-color: red #2e363f red #000;
    -fx-border-width: 0 1 0 1;
    -fx-border-style: solid;
}

#actionBar > .action:hover {
    -fx-cursor: hand;
    -fx-background-color: #000;
}

#actionBar .text {
    -fx-fill: #999;
}

#actionBar > .action:hover .text {
    -fx-fill: white;
}

/* Path Bar */
#pathBar {
    -fx-background-color: white;
}

/* Inner content container */
#innerContent {
    -fx-background-image: url("../img/bg_white.png");
    -fx-background-repeat: repeat;
}

#innerContent:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.selected {
    -fx-background-color: #27a9e3;
}

.selected .text {
    -fx-fill: white;
}

.test {
    -fx-border-color: #37414b red #1f262d red;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid;
}

.test .text {
    -fx-fill: #AAA;
    -fx-font-size: 14px;
}

.test:hover {
    -fx-background-color: #27a9e3;
}

.test:hover .text {
    -fx-background-color: #27a9e3;
    -fx-fill: white;
}

JFXTextField {
    -fx-background-color: white;
    -fx-border-color: #DDD;
    -fx-border-width: 1 1 0 1;
    -fx-border-style: solid;
}