/** Header **/
#header {
    -fx-background-color: #1F262D;
}

/* Brand name */
#brandNameContainer {
    -fx-background-color: #1F262D;
}

#brandNameText {
    -fx-fill: white;
    -fx-font-size: 40px;
    -fx-font-family: "Maison Mono";
}

/** Sidebar **/
#sidebar {
    -fx-background-color: #2E363F;
}

/** Inner Content **/
