/** Header **/
#header {
    -fx-background-color: #1F262D;
}

#brandName-text {
    -fx-fill: white;
    -fx-font-size: 40px;
    -fx-font-family: "Maison Mono";
}

#path-container {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-border-insets: -1;
}

#header .navigation-option {
    -fx-border-color: transparent #2e363f transparent #000;
    -fx-border-width: 0 1 0 1;
    -fx-border-style: solid;
}

#header .navigation-option-container {
    -fx-border-color: transparent #000 transparent #2e363f;
    -fx-border-width: 0 2 0 2;
    -fx-border-style: solid;
}

#header .navigation-option:hover {
    -fx-cursor: hand;
    -fx-background-color: #000;
}

#header .navigation-option Text, #header .navigation-option FontAwesomeIconView {
    -fx-fill: #CCC;
}

#header .navigation-option .jfx-rippler {
    -jfx-rippler-fill: white;
}

#header PathView .jfx-rippler {
    -jfx-rippler-fill: #444;
}

/** Sidebar **/
#sidebar {
    -fx-background-color: #2E363F;
}

/* Sidebar navigation */
#sidebar .navigation-option {
    -fx-background-color: #2E363F;
    -fx-border-color: #37414b transparent #1f262d transparent;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid;
}

#sidebar .navigation-option:hover {
    -fx-background-color: #27a9e3;
    -fx-border-color: #26ace8 transparent #237fad transparent;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid;
    -fx-cursor: hand;
}

#sidebar .navigation-option .jfx-rippler {
    -jfx-rippler-fill: white;
}

#sidebar .navigation-option FontAwesomeIconView, #sidebar .navigation-option Text {
    -fx-fill: #CCC;
}

#sidebar .navigation-option Text {
    -fx-font-size: 14px;
}

#sidebar .navigation-option FontAwesomeIconView {
    -glyph-size: 14px;
}

#sidebar .navigation-option:hover FontAwesomeIconView, #sidebar .navigation-option:hover Text {
    -fx-fill: white;
}

/* Sidebar navigation selected */

#sidebar .navigation-option.selected {
    -fx-background-color: #27a9e3;
    -fx-border-color: #26ace8 transparent #237fad transparent;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid;
    -fx-background-image: url("/ui/img/menu-active.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right, center;
}

#sidebar .navigation-option.selected .arrow-container {
    -fx-background-image: url("/ui/img/menu-active.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right, center;
}

#sidebar .navigation-option.selected FontAwesomeIconView, #sidebar .navigation-option.selected Text {
    -fx-fill: white;
}

/* Sidebar navigation disabled */
#sidebar.disabled .navigation-option:hover {
    -fx-background-color: #2E363F;
    -fx-border-color: #37414b transparent #1f262d transparent;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid;
    -fx-cursor: default;
}

#sidebar.disabled .navigation-option FontAwesomeIconView, #sidebar.disabled .navigation-option Text {
    -fx-fill: #666;
}

/* Sidebar footer */
#sidebar JFXRippler {
    -jfx-rippler-fill: #888;
}

#sidebar .footer {
    -fx-background-color: rgba(0, 0, 0, .05);
    -fx-border-color: rgba(0, 0, 0, .2);
    -fx-border-width: 1 0 0 0;
    -fx-border-style: solid;
    -fx-cursor: hand;
}

#sidebar .footer:hover {
    -fx-background-color: rgba(100%, 100%, 100%, .1);
    -fx-border-color: rgba(0, 0, 0, .2);
    -fx-border-width: 1 0 0 0;
    -fx-border-style: solid;
}

#sidebar .footer FontAwesomeIconView {
    -fx-fill: #CCC;
    -glyph-size: 25px;
}

#sidebar .footer:hover FontAwesomeIconView {
    -fx-fill: white;
}

/** Inner Content **/
#content {
    -fx-background-image: url("/ui/img/bg-white.png");
}

#content > * {
    -fx-background-color: transparent;
}

#content .jfx-tab-pane .headers-region {
    -fx-background-color: #2E363F;
}

#content .jfx-tab-pane .tab-header-background {
    -fx-background-color: #2E363F;
}

#content .jfx-tab-pane .tab-selected-line {
    -fx-background-color: #27a9e3;
}

#content .jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: white;
}